<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to FlaskBlog</h1>
   <div>
    
   </div>
   <button id="redirectButton" onclick="call()">Redirect</button>
</body>
      <script>
        // Get the button element
        var button = document.getElementById("redirectButton");

        // Add a click event listener to the button
        button.addEventListener("click", function() {
            // Redirect to the specified URL
            window.location.href = "http://127.0.0.1:5000/get";
        });
    </script>
</html>